* {
  box-sizing: border-box;
}

/* #f35333
     #e4dad3 
     #423204 
     #756c52 
     #a4a294 
     #f47c6a
     #f49080 
     #ec3c0e 
  
  
  */

:root {
  --main-bg-color: #e4dad3;
  --main-font-color: #fff;
  --nav-bg-color: #a4a294;
  --titles: #423204;
  --link: #ec3c0e;
  --link-hover: #f35333;
  --link-visited: #f47c6a;
}

html {
  font-size: 10px;
}

h1,
h2,
h3,
h4 {
  color: var(--titles);
}

body {
  font-size: 1.6rem;
  position: relative;

  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}
/* nav bar  */
#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
}

/*main-doc*/
#main-doc {
  position: absolute;
  margin-left: 310px;
  margin-right: 20px;
}

.example {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  padding: 14px;
  border-radius: 8px;
}

.shell {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: yellow;
  padding-left: 12px;
}

.shell_user {
  font-size: 1.4rem;
  background-color: cadetblue;
  padding: 0 8px 0 8px;
  border-right: 1px solid;
}

.language_shell {
  background-color: #87dea8;
  text-align: left;
  overflow-x: auto;
  text-align: left;
  padding: 0 8px 8px 8px;
}

.console_shell {
  position: relative;

  background-color: #f47c6a;
  width: 100%;
  word-break: normal;
  word-wrap: normal;
  white-space: nowrap;
}

.tag_pre {
}

.white_space {
  white-space: pre;
}
/* terminal */
/*
.example {
  display: flex;
  flex-direction: column;
}

.shell {
  display: flex;
  flex-direction: row;
  min-height: 100px;
  width: 100%;
  background-color: greenyellow;
}

.shell_user {
  background-color: blue;
  margin-right: 10px;
  border-right: 1px solid;
}

.language_shell {
  background-color: red;

  overflow-x: scroll;
  text-align: left;
}

.console_shell {
  background-color: #423204;

  word-wrap: normal;
  word-break: normal;
  line-height: 2;
}

.white_space {
}

*/
